.slider {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgb(84, 92, 100);
  overflow: hidden;
}

.slider /deep/ .el-scrollbar {
  width: 250px;
  overflow: hidden;
}

.menu-wrapper a li {
  display: flex;
  align-items: center;
}
.menu-wrapper /deep/ .el-submenu__title {
  display: flex;
  align-items: center;
  padding: 0;
}

.el-menu--collapse
  /deep/
  .menu-wrapper
  /deep/
  .el-submenu
  /deep/
  .el-submenu__title
  /deep/
  span {
  width: 0;
  height: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
}

.el-menu--collapse
  /deep/
  .menu-wrapper
  /deep/
  .el-submenu
  /deep/
  .el-submenu__title
  /deep/
  .el-submenu__icon-arrow {
  display: none;
}
.el-menu--collapse
  /deep/
  .menu-wrapper
  /deep/
  .el-submenu
  /deep/
  .el-submenu__title {
  width: 65px;
}

/* .scrollbar-wrapper */
.scrollbar-wrapper {
  margin: 0 !important;
  overflow: hidden !important;
}
.el-menu {
  border-right: none !important;
}
